<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="registration.component.css">
</head>
<body>
  <form name="form" action="#" class="login-form">
    <h1>Sign In</h1>
    <div class="textb">
      <input name="name" type="text" required [(ngModel)]="objRegistration.name">
      <div class="placeholder">Name</div>
      <div class="name-icon fas fa-user"></div>
    </div>
    <div class="textb">
        <input name="email" type="text" required [(ngModel)]="objRegistration.email">
        <div class="placeholder">Email</div>
        <div class="mail-icon fas fa-envelope"></div>
      </div>

      <!--<div class="textb">
        <input type="text" required>
        <div class="placeholder">Phone</div>
        <div class="phone-icon fas fa-phone"></div>
      </div>-->

      <!--<div class="textb">
        <input type="text" required >
        <div class="placeholder">Role</div>
      </div>-->
      
      <div class="textb">
        <!--<div class="placeholder">Role</div>-->
            <select name="role" [(ngModel)]="objRegistration.role">
             <option value="None" selected disabled hidden >Role</option>
              <option value="Teacher">Teacher</option>
              <option value="Student">Student</option>
              
        </select>
        <div class="role-icon fas fa-chalkboard-teacher"></div>
      </div>
<!--<div class="textb">
        <input type="password" required>
        <div class="placeholder">Role</div>
        <div class="show-password fas fa-eye-slash" >
          
        </div>
      </div>-->
    <div class="textb">
      <input name="password" type="password" required [(ngModel)]="objRegistration.password">
      <div class="placeholder">Password</div>
      <div class="show-password fas fa-eye-slash"></div>
    </div>

    

    <!--<div class="checkbox">
      <input type="checkbox">
      <div class="fas fa-check"></div>
      Student
      <input type="checkbox">
      <div class="fas fa-check"></div>
      Teacher
    </div>-->
    
  
    <button class="btn" (click)="insertRegistration()" routerLink='/login'>REGISTER</button>
    
    <a routerLink='/login'>Already Have An Account?</a>
  </form>

  <!--<script type="text/javascript">
    var fields = document.querySelectorAll(".textb input");
    var btn = document.querySelector(".btn");
    function check(){
      if(fields[0].value != "" && fields[1].value != "")
        btn.disabled = false;
      else
        btn.disabled = true;  
    }

    fields[0].addEventListener("keyup",check);
    fields[1].addEventListener("keyup",check);

    document.querySelector(".show-password").addEventListener("click",function(){
      if(this.classList[2] == "fa-eye-slash"){
        this.classList.remove("fa-eye-slash");
        this.classList.add("fa-eye");
        fields[1].type = "text";
      }else{
        this.classList.remove("fa-eye");
        this.classList.add("fa-eye-slash");
        fields[1].type = "password";
      }
    }); 
    
  </script>-->
</body>
</html>
