<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Light, Basic Header</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="testcreate.component.css">
  
</head>

<body>

<header class="header-basic-light">

	<div class="header-limiter">

		<h1><a href="#">Online<span>ExaminationSystem</span></a></h1>

		<nav>
			<a href="#" class="selected">Home</a>
			<a href="#" class="selected"><i class="profile-icon fas fa-user"></i></a>
			
		</nav>
	</div>

</header>
<div class="area">
    <form action="#" class="newtest">
    <div class="textb">
        <input type="text" name="testname" required [(ngModel)]="objTestDetails.testName">
        <div class="placeholder"> Test Name</div>
        
      </div>
      <div class="textb">
        <input type="time" id="appt" name="duration"
        min="00:00" max="24:60" required [(ngModel)]="objTestDetails.duration">
        <div class="placeholder">Time Limit</div> 
        
      </div>
      <div>
          <div class="checkbox">
          
        <input type="checkbox" (click)="schedule()">
        <div class="fas fa-check"></div>&nbsp; &nbsp;&nbsp; &nbsp;Schedule
        </div>
        <div class="scheduleb">
            
        <label class="labelb">From</label><input type="date" required [disabled]="isEnabled">
        <input type="time"  name="appt"
        min="00:00" max="24:60" required [disabled]="isEnabled"><br>
    
    
        <label class="labelb">To&nbsp; &nbsp; &nbsp;</label><input type="date" required [disabled]="isEnabled">
        <input type="time" name="appt"
        min="00:00" max="24:60" required [disabled]="isEnabled">
    
    </div>
      </div>
    </form>
    <div>
        <table class="styled-table">
          <thead>
              <tr>
                  <th></th>
                  <th>No.</th>
                  <th>Question</th>
                  <th>Points</th>
                 
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let question of questions" class="qrow">
                  <td><input type="checkbox" value="question" [(ngModel)]="question.isChecked" (change)="changeSelection()"></td>
                  <td >{{question.id}}</td>
                  <td>{{question.question}}</td>
                  <td>{{question.marks}}</td>
                  
                </tr>
          </tbody>
      </table> 
  </div>
  <div class="btnarea">
    <button class="addbtn" routerLink='/dashboard'>Cancel</button>
    <button class="addbtn" (click)="save()" *ngIf="!id">Save</button>
</div>
  <div><button class="addbtn" (click)="save()" *ngIf="id">Update</button></div>
</div>
<!--<nav class="main-menu">
    <ul>
        <li>
            <a routerLink='/dashboard'>
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fas fa-user"></i>
                <span class="nav-text">
                    Profile
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Review
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a routerLink='/questionbank'>
               <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Question Bank
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    History
                </span>
            </a>
           
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Statistics
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="login">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>-->

</body>

</html>
