<html>
<head>
<title>Google Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="form-inline" id="row{{index}}">
        <b>Type:</b>
        <select [(ngModel)]="selectedSkill" class="form-control" style="width:250px;">
            <option *ngFor="let item of skills" [value]="item">{{item}}</option>
        </select>
    
        <!--<b>Experiences: </b>
        <input [(ngModel)]="yearsOfExperiences" type="text" class="form-control" 
         style="margin-left:10px; margin-right:10px; width: 60px;">-->
    
        <b>Points: </b>
        <select [(ngModel)]="selectedRating" class="form-control" style="width:70px;">
            <option *ngFor="let item of ratings" [value]="item">{{item}}</option>
        </select>
    
        <div class="material-icons" (click)="removeSkills()">remove_circle</div>
        <!--<img src="cross.jpg" width="15" height="15" 
         title="Remove" (click)="removeSkills()" />-->
         <div class="NgxEditor__Wrapper"><b>Question:</b>
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [ngModel]="html"
              
            ></ngx-editor>
          </div>
          
            <div id="optionsContainer" class="optionsarea">
            <button type="button" class="addbtn" (click)="addoptions()">Add Option</button>
            <div #optionsContainer></div>
          </div>
          <!--<div [froalaEditor]>Hello, Froala!</div>-->
    </div>
   </body>
   </html>