<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Light, Basic Header</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="student-dashboard.component.css">
  
</head>

<body>

<header class="header-basic-light">

	<div class="header-limiter">

		<h1><a href="#">Online<span>ExaminationSystem</span></a></h1>

		<nav>
			<a href="#" class="selected">Home</a>
			<a href="#" class="selected"><i class="profile-icon fas fa-user"></i></a>
			
		</nav>
	</div>

</header>

<!-- The content of your page would go here. -->


<div class="area">
  <div class="contact-info">
      
    <button class="card">
    <a routerLink='/studentNewtest' class="card">
      <i class="card-icon fas fa-pencil-alt	"></i>
      <p>New Test</p>
    </a>
    </button>
        
    <button class="card">
        <a routerLink='/studenthistory' class="card">
      <i class="card-icon fas fa-archive"></i>
      <p>History</p>
        </a>
</button>
</div>
</div>


  <nav class="main-menu">
    <ul>
        <li>
            
                
                <span class="nav-name">
                    {{name}}
                </span>
            
          
        </li>
        <li>
            <a routerLink='/studentDashboard'>
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a routerLink='/profile'>
                <i class="fa fas fa-user"></i>
                <span class="nav-text">
                    Profile
                </span>
            </a>
            
        </li>
        
        
        <li class="has-subnav">
            <a routerLink='/studenthistory'>
               <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    History
                </span>
            </a>
           
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Statistics
                </span>
            </a>
        </li>
       
    </ul>

    <ul class="logout">
        <li>
           <a routerLink='/login'>
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
</body>

</html>
